<section class="app-task-list-wrapper">
  <mat-spinner *ngIf="isLoading$ | async else content"></mat-spinner>

  <ng-template #content>
    <div *ngIf="!(isLoading$ | async)">
      <button
        mat-fab
        extended
        (click)="onClickOpenNewTaskModal()"
      >
        Agregar +
      </button>

      <ul class="app-task-list">
        <li *ngFor="let task of tasks$ | async">
          <app-task-item [task]="task"></app-task-item>
        </li>
      </ul>
    </div>
  </ng-template>
</section>
