.app-task-list-wrapper {
  max-width: 650px;
  padding: 24px;
  margin: 40px auto;
  list-style: none;
  max-height: 500px;
  overflow-y: scroll;
  background-color: #262629;

  @media (min-width: 768px) {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.app-task-list-wrapper .mat-mdc-progress-spinner.mdc-circular-progress--indeterminate {
  margin: auto;
}

.app-task-list {
  list-style: none;
}

.app-task-list li {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #FFFFFF;
}

button {
  margin-left: 11px;
  margin-bottom: 32px;
  background-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
